main {
    display: flex;
    height: 88vh;
    max-height: 90vh;
}

aside {
    flex: 1;
    background-color: var(--secondary-color);
    padding: 15px 0px;
    margin: 15px;
    border-radius: 15px;
    width: fit-content;

    li {
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .active {
        background-color: var(--primary-color);
        border-radius: 10px;
        margin-right: 10px;
    }

    li:hover {
        background-color: white;
        color: black;
        border-radius: 10px;
        margin-right: 10px;
    }
}

section {
    overflow-y: auto;
    flex: 5;
    background-color: var(--secondary-color);
    padding: 15px 0px;
    margin: 15px;
    border-radius: 15px;

    .header {
        border-bottom: 1px solid var(--primary-color);
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;

        h3 {
            margin-top: 0px;
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            font-weight: 500;
        }
    }

    .body {
        padding-bottom: 20px;
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-content: flex-start;
    }
}

@media only screen and (max-width:600px) {
    main {
        flex-direction: column;

        aside {
            flex: none;
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                margin: auto 15px;
                padding: 0px;
            }
        }
    }
}